/*
px: medida absoluta
    - Facil de manejar
    - No recomendado para responsive (tablets, celulares, smartwatch)
    
em: medidad relativa al padre
    - Dificil de manejar    

rem: medida relativa al root
    - Facil de manejar a excepcion de las medidas (por las conversion)    

*/


:root {
    --white: #FFFFFF;
    --black: #212121;
    --primary: #FFC107;
    --secondary: #0097A7;
    --gray: #757575;
    --gray-light:#DFE9F3;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Krub',sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


h1 {
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{ 
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

.title {
    text-align: center;
    font-size: 3.8rem;

}

.title span{
    font-size: 2rem;
}

.w-sm-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.align-right {
    justify-content: flex-end;
}


.nav-bg{
    background-color: var(--secondary);
}

.navigation-main{
    display: flex;
    
    flex-direction: column;
}

@media (min-width: 768px) {
    .navigation-main{
       
        flex-direction: row;
        justify-content: space-between;
    }
    .button{
        width: auto;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
    .fields-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}

.button{
    cursor: pointer;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}

.button{
    background-color: var(--secondary);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
    width: 90%;
    text-align: center;
}

.shadow{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.54);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
}



.navigation-main a {
    display: block;
    text-align: center;
    color:var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navigation-main a:hover{
    background-color: var(--primary);
    color: var(--black);
}
.hero{
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.content-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-hero h2,
.content-hero p {
    color: var(--white);
}
.content-hero .location{
    display: flex;
    align-items: flex-end;

}



.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h3{
    color: var(--secondary);
    font-weight: normal ;

}

.service p{
    line-height: 2;
    text-align: center;
}

.service .icons {
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
}

.form{
    background-color: var(--gray);
    width: min(60rem , 100%);
    margin: 0 auto;
    padding: 2rem;
     border-radius:1rem;
}

.form fieldset {
    border: none;
}

.form legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primary);
}



.field{
    margin-bottom: 1rem;
}
.field:nth-child(3),
.field:nth-child(4){
    grid-column: 1 / 3;
}

.field label {
    color: var(--white);
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.field textarea {
    height: 20rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius:.5rem;
}

.footer{
    text-align: center;
}



